@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,a,ul,li,
h1,h2,h3,h4,h5,h6
div,section{
    font-size:10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}
.screen--container{
    margin: 2vh 0;
}
.product--p{
    text-align: justify;
    padding: 0 5%;
    font-size: .6rem;
}
.content--title{
    text-align: center;
    font-size: 2rem;
    margin-top: 5vh;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    /* background:rgb(85, 85, 85); */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    flex-direction: column;
}
#header-img{
    width: 25px;
    height: auto;
}
.nav-bar--container{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar--ul--lg{
    display: none;
}
.nav-bar--ul--sm{
    display: none;
}
.nav-bar--ul--li{
    margin: 0 10px;
}
#nav-link{
    font-size: .8rem;
}
.nav--bar--hamburger{
    width: auto;
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;    
}
.nav--bar--hamburger--line{
  background-color: rgb(0, 0, 0);
  border-radius: .5rem;
  width: 25px;
  height: 3px;
}
/* .nav--bar--hamburger{
    
} */


.nav-bar--ul--sm.show{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-bar--ul--sm .nav-link{
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-bar--ul--li{
    margin: 10px 0;
}
header.show{
    height: auto;
    background-color: rgb(196, 196, 196);
}

/* product start here */
.product--intro--title{
    text-align: center;
    font-size: 2rem;
    margin-top: 7vh;
}
.product--intro--container{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.product--caption--container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center
}
.product--caption__p{
    margin: 5px 0;
    font-size: .6rem;
    padding: 0 5%;
    text-align: justify;
}

/* card start here */
.product--card--container{
    max-width: 650px;
    display: flex;
    flex-direction: column;
}
.product--card--item{
    /* border: 1px solid black; */
    min-width: 200px;
    max-width: 250px;
    height: 350px;
    padding: 2px 0;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.product--card--image{
    width: 200px;
    height: auto;
}
.product--card--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}
.product--card--details--title{
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
/* .product--card--details--caption{

} */
.product--card--details--price{
    font-size: .7rem;
    font-weight: 500;
    margin: 5px 0;
}
.product--card--details--link{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.product--card--details--link__a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    height: 25px;
    width: 70px;
    color: blue;
    border: 1px blue solid;
    border-radius: 15px;
}
/* contact - form */
.contact-form--container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-form--image{
    width: 200px;
    height: auto;
    margin:5px 0;
}
.contact-form__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0 10px;
}
input[type="email"],input[type="text"],textarea{
    width: 100%;
    padding: 5px;
    align-items: center;
    color: #000000;
    background:rgb(236, 236, 236);
    border-radius: 10px;
    margin: 15px 0;
}
input[type="submit"]{
    padding:5px 15px;
    border-radius: 10px;
}
textarea{
    height: 20vh;
}
#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    height: 25px;
    width: 70px;
    color: blue;
    border: 1px blue solid;
    border-radius: 15px;
}
@media screen and (min-width: 400px){
    iframe{
        width: 320px;
        height: 240px;
    }
    .nav--bar--hamburger{
        display: none;
    }
    .nav-bar--ul--lg{
        display: flex;
    }
    .nav-bar--ul--lg .nav-bar--ul--li{
        margin-left: 25px;
    }
    .nav-bar--ul--lg .nav-bar--ul--li .nav-link{
    font-size: 1rem;
    }
}

@media screen and (min-width: 600px){  
    iframe{
        width: 320px;
        height: 240px;
    }
    .product--intro--container{
        /* height: 70vh; */
        /* padding: 0 2%; */
        height: 100%;
        flex-direction: row;
        /* justify-content: center; */
        /* align-content: center; */
        /* align-items: center; */
    }
    .product--caption__p{
        padding: 0;
        padding-left: 5%;
        margin: 0;
        margin-top: 10px;
    }
    /* .product--caption--container{
        height: 100%;
    } */
    .product--card--container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 800px){
    header{
        justify-content: center;
    }
    .nav-bar--container{
        width: 800px;
    }
}  